/* Contact Section Start */

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    background-color: rgb(44, 49, 58);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact-form {
    width: 500px;
    height: 600px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

#contact form ::placeholder {
    color: white;
}

#contact input {
    background-color: transparent;
    margin-bottom: 40px;
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: transparent;
    border-bottom: white solid 2px;
}

#contact h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

textarea {
    background-color: transparent;
    margin-bottom: 40px;
    padding-left: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: transparent;
    border-bottom: white solid 2px;
}

#contact form button {
    color: black;
    background-color: $primaryColor;
    width: 50%;
    padding: 3%;
    margin-bottom: 25px;
    border-radius: 10px;
}


/* Contact Section End */